.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #F2F2F4;
  margin: 0;
}
.todo-navbar{
  background-color: #404344;
  text-align: center;
}
.todo-input{
  text-align: center;
}
.todo-input>input{
  font-size: 2rem;
}
.submit-btn{
  font-size: 20px;
  padding: 12px;
  padding-bottom: 4px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.submit-btn:hover{
  background-color: #404344;
}
.todo-lists{
  margin-top: 28px;
}
.todo-list{
  background-color: #ED6436;
  border: 1px solid black;
  list-style: none;
  padding-bottom: 24px;
  
}

.todo-list>h2{
  margin-left: 12px;
}
.todo-list>button{
  font-size: 17px;
  padding: 0px;
  margin-left: 4px;
  /* padding-bottom: 4px; */
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 5%;
  height: px;
}
.todo-list>button:hover{
  background-color: #404344;

}
